.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    
  }
  .border{
       border: 1px solid #161414;
       margin: auto;
       padding: 8%;
       background: cornsilk;
     
  }

.basic-container {
    padding: 30px;
  }

  .users
  {
      text-align: center;
      padding: 20px;
     width: 450px;
     background-repeat: no-repeat;
      
  }
  .chaters{
   text-align: center;
   
  }
  
  .fullwidth{
      text-align: center;
      margin-top: 10px;
    
  }
  .dashboard{
      text-align:left;
      padding: 2px;
     color: rgb(119, 0, 255);
     max-width: 300px;
     min-width: 50;
  }

  .conversation-input{
  text-align: left;
  }