 @import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

 .my-form{
   color: indigo;
   font-family: sans-serif;
   width: 200%;
   margin: auto;
    max-width: 500px;
    width: 100%;
   border: 1px solid rgb(158, 158, 158);
   padding: 20px;
   border-radius: 10px;
  text-align: center;
  background: transparent;
  border-block-end-width: 20px ;
  border-block-start-width: 20px ;
  background-image: url("https://unsplash.com/photos/RvQYmGfmsKo");
  background-color: azure

 }

 .full-width{
  box-align: center;
  width: 100%;
  margin-top: 20px
 }

 .RegisterButton{
  width: -webkit-fill-available;
  margin-top: 30px;
  cursor: pointer;
 }